<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">apprender</h3>
</div>

<div class="jumbotron">
  <h1>Dê uma aula agora mesmo!</h1>
  <p class="lead">
  <input type="text" class="input-block-level" value="http://www.reforconaweb.com.br?room=?{{room}}" />
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="class.html?room={{room}}">Começar aula!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
